/* Material-dark theme created by Alfredo Monclus 2021 */

* {
    color: #e2e2e2;
}

window {
    background-color: #13181C;
    /* background-image: url("./styles/material-dark/background.svg"); */
    /* background-size: cover; */
}

list row,
treeview.view {
    background-color: #13181C;
}

button {
    background-color: rgba(0,0,0,0);
}

button:active {
    background-color: #2196f3;
}

.button_active {
    background-color: #2196f3;
}

button:disabled {
    background-color: rgba(0,0,0,0);
}

button.color1:disabled,
button.color2:disabled,
button.color3:disabled,
button.color4:disabled {
    border-bottom-color: grey;
}

button.color1 {
    background-color: rgba(0,0,0,0.25);
    border-color: #2196f3;
    border-radius: 1em;
}

button.color2 {
    background-color: rgba(0,0,0,0.25);
    border-color: #2196f3;
    border-radius: 1em;
}

button.color3 {
    background-color: rgba(0,0,0,0.25);
    border-color: #2196f3;
    border-radius: 1em;
}

button.color4 {
    background-color: rgba(0,0,0,0.25);
    border-color: #2196f3;
    border-radius: 1em;
}

button.active {
    background-color: #2196f3;
}

button.update {
    background: #2196f3;
    border: .1em solid #cccccc;
}

button.invalid {
    background: #e61e1e;
    border: .1em solid #cccccc;
}

button.color1:active, button.color2:active, button.color3:active, button.color4:active {
    background-color: #2196f3;
    border-bottom-color: #2196f3;
}

button.update:active, button.invalid:active {
    background: rgba(0,0,0,0.25);
    border: .1em solid #cccccc;
}

combobox box button {
    border-color: #cccccc;
}

treeview.view check,
switch {
    background-color: #404E57;
}

treeview.view check:checked,
switch:checked {
    background-color: #2196f3;
}

entry {
    background-color: rgba(0,0,0,0.25);
    border-color: #2196f3;
    margin-right: 5;
}

label {
    color: #e2e2e2;
}

menu {
    background-color: rgba(0,0,0,0.25);
    border-color: #cccccc;
}

menuitem {
    background-color: rgba(0,0,0,0.25);
    border-color: #cccccc;
}

trough {
    background-color: #404E57;
    color: #e2e2e2;
    border-color: black;
}

trough highlight, trough progress {
    background-color: #2196f3;
    color: #e2e2e2;
    border-color: #121212;
}

scale-mark {
    color: #e2e2e2;
}

scrollbar, scrollbar button, scrollbar trough {
    background-color: rgba(0,0,0,0);
}

scrollbar slider {
    background-color: #404E57;
}

textview .time {
    color: #9E9E9E;
}

.popup {
    background-color: #006064;
}

.dialog {
    border: rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,0.1);
}

.dialog button {
    background-color: rgba(0,0,0,0.25);
    border-bottom-color: #1f1f1f;
    border-radius: .75em;
}

.dialog button:nth-child(1) {
    background-color: rgba(0,0,0,0.25);
    border-bottom-color: #849900;
    border-radius: .75em;
}

.dialog button:nth-child(2) {
    background-color: rgba(0,0,0,0.25);
    border-bottom-color: #B71C1C;
    border-radius: .75em;
}

.dialog button:active {
    background-color: #2196f3;
    border-bottom-color: #2196f3;
    border-radius: .75em;
}

.distbutton_active {
    background-color: #2196f3;
}

.distbutton_top {
    border-color: white;
}

.distbutton {
    border-color: white;
    border-left-color: #ccc;
}

.distbutton_bottom {
    border-color: white;
    border-left-color: #ccc;
}

.fan_slider {
    color: #e2e2e2;
}

.message_popup {
    border-bottom-color: #e2e2e2;
}

.numpad{
    margin-right: 3;
}

.message_popup_echo, .message_popup_echo button {
    background-color: #006412;
}

.message_popup_warning, .message_popup_warning button {
    background-color: #EF6C00;
}

.message_popup_error, .message_popup_error button {
    background-color: #B71C1C;
}

.numpad_tleft, .numpad_top, .numpad_tright, .numpad_left, .numpad_button, .numpad_right, .numpad_bleft, .numpad_bottom, .numpad_bright {
    border-color: #121212;
}

popover {
    background-color: grey;
}

popover button {
    background-color: rgba(0,0,0,0.9);
    border-radius: 0.3em;
    min-height: 4em;
}

.printing-status {
    color: #e2e2e2;
}

.printing-progress-text {
    color: #e2e2e2;
}

.printing-status-label {
    color: #9E9E9E;
}

.tempbutton_top {
    border-color: white;
}

.tempbutton, .tempbutton_bottom {
    border-color: white;
    border-top-color: #ccc;
}

.message {
    border-color: #B71C1C;
    color: #e2e2e2;
    background-color: #B71C1C;
}

.message button {
    background-color: #e2e2e2;
    color: #121212;
}

.warning {
    background-color: #EF6C00;
}

.error {
    background-color: #B71C1C;
}

.keyboard_pad {
    background-color: rgba(0,0,0,0.25);
}
